@using System.Text.Json
@model MiHorarioVM

<input type="hidden" id="hdnURL_CrearBloqueHorario" value='@Url.Action("_CrearBloqueHorario", "Horario")' />
<input type="hidden" id="hdnURL_ObtenerCitas" value='@Url.Action("ObtenerCitas", "Horario")' />
@if(Model.ConfiguracionUsuario != null)
{
	<input type="hidden" id="ObjectConfigUsuario" value='@Html.Raw(JsonSerializer.Serialize(Model.ConfiguracionUsuario))' />
}

<div class="container" style="margin-top: 20px;">
    <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
        <button class="btn" data-bs-toggle="modal" data-bs-target="#modalNuevaCita"
                style="background-color: #F89B9B; color: white;">
            Crear Cita <i class="fas fa-calendar-plus"></i>
        </button>

        <button class="btn" data-bs-toggle="modal" data-bs-target="#configurarHorarioModal"
                style="background-color: #F89B9B; color: white;">
            Mi Horario <i class="fas fa-cog"></i>
        </button>
    </div>
    <div id="calendar"></div>
</div>


@Html.Partial("~/Views/Partials/_PartialConfiguracionHorario.cshtml", Model.HorariosAtencion)
@Html.Partial("~/Views/Partials/_PartialNuevaCitaCalendario.cshtml")
@Html.Partial("~/Views/Partials/_PartialNuevaCita.cshtml")

@section scripts {
	<script src="~/js/site/Horario_Cita.js?v=1.0" type="text/javascript"></script>
}